<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/interface.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/draw.js') }}" type="module"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Gray box web interface</title>
</head>
<body>

<!-- Navbar -->
<div class="topnav">

    <a class="active" href="../index.html">
        <img class="logo" src="../static/img/logo.png" width="60px">
    </a>
    <a href="index.html">Viewer</a>
    <a href="train">Trainer</a>
    <a href="distill">Distiller</a>
    <a href="about">About</a>
</div>

<!-- Treeview -->
<div class="split left">
    <canvas class="treeview" id="treeview" height="800" width="800"></canvas>
</div>

<!-- Gameview -->
<div class="split right">
    <canvas class="gameview" id="gameview"  height="400" width="400"></canvas>


    <div class="navigation centered">

        <select id="profiles">
            <option id="loading_profiles" value="-">Profile</option>
        </select>
        <select id="type">
            <option value="distillate">distillate</option>
            <option value="model">original</option>
        </select>
        <select id="distillates">
            <option id="loading_distillates" value="-">Distillate</option>
        </select>
        <select id="algorithms">
            <option id="loading_algorithms" value="-">Algorithm</option>
        </select>
        <select id="environments">
            <option id="loading_environments" value="-">Environment</option>
        </select>

        <button id="load_session" type="button">Load session</button>
        <button id="session_step" type="button">Step</button>
        <button id="session_play" type="button">Play</button>
        <button id="session_stop" type="button">Pause</button>
    </div>

</div>


</body>
</html>