<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/interface.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/draw.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Gray box web interface</title>
</head>
<body>

<!-- Navbar -->
<div class="topnav">

  <a class="active" href="../index.html">
      <img class="logo" src="../static/img/logo.png" width="60px">
  </a>
  <a href="index.html">Viewer</a>
  <a href="train">Trainer</a>
  <a href="distill">Distiller</a>
    <a href="about">About</a>
</div>

<!-- Treeview -->
<div class="split left">
    <canvas class="treeview"></canvas>
</div>

<!-- Gameview -->
<div class="split right">
    <canvas id="gameview" class="gameview" width="400" height="400"></canvas>

    <select id="profiles">
        <option value="-" id="loading_profiles">Profile</option>
    </select>
    <select id="distillates">
        <option value="-" id="loading_distillates">Distillate</option>
    </select>
    <select id="algorithms">
        <option value="-" id="loading_algorithms">Algorithm</option>
    </select>
    <select id="environments">
        <option value="-" id="loading_environments">Environment</option>
    </select>

    <button type="button" id="load_session">Load session</button>

</div>



</body>
</html>